.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.5s linear;
  color: #fff;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .place__link {
    width: 90%;
    margin: 0 auto;
  }
}
