.footer {
  width: 92.5%;
  margin: 0 48px 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  }

  @media screen and (max-width: 1024px) {
    .footer {
     width: 90.625%;
    }
  }

  @media screen and (max-width: 784px) {
    .footer {
      width: 93.75%;
      margin: 0 24px 24px;
    }
  }

  @media screen and (max-width: 684px) {
    .footer {
      width: 58.125%;
      flex-direction: column;
      margin: 0 0 24px 16px;
      align-self: flex-start;
    }
  }
